<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {{template "_header" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      {{template "_title" .}}
      <ol class="breadcrumb">
        <li><a href="/dashboard/{{.Admin.Slug}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/information">{{.Nav}}</a></li>
        <li class="active">{{.Informasi.Judul}}</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Compose New Message</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" placeholder="Subject:" value="{{.Informasi.Judul}}">
              </div>
              <div class="form-group">
                <textarea id="compose-textarea" class="form-control" style="height: 300px">
                  {{.Informasi.Keterangan}}
                </textarea>
              </div>
              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> Attachment
                  <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 32MB</p>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
              </div>
              <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {{template "_footer" .}}

  <!-- External -->

  <!-- Bootstrap WYSIHTML5 -->
  <script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

  <script>
    $(function () {
      //Add text editor
      $("#compose-textarea").wysihtml5();
    });
  </script>
  </body>
  </html>
