<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {{template "_header" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      {{template "_title" .}}
      <ol class="breadcrumb">
        {{template "_breadcrumb" .}}
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <a href="/registrasi">
              <button type="button" class="btn btn-success">
                <i class="fa fa-user-plus"></i> Member Baru
              </button>
              </a>
              <button type="submit" class="btn btn-success" id="send">send</button>
            </div>
            <div class="nav-tabs-custom">
              <div class="table-responsive">
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Pekerjaan</th>
                      <th>No HP</th>
                      <th>No Kamar</th>
                      <th>Lokasi</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {{range $index, $value := .Member.Member}}
                    <tr>
                      <td>{{counter $index 1}}</td>
                      <td><a href="/member/{{.Slug}}">{{.Nama}}</a></td>
                      <td>{{.Pekerjaan}}</td>
                      <td>{{.No_hp}}</td>
                      <td>{{.No_kamar}}</td>
                      <td>{{.Lokasi.Cabang}}</td>
                      <td>{{.Status_member}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Pekerjaan</th>
                      <th>No HP</th>
                      <th>No Kamar</th>
                      <th>Lokasi</th>
                      <th>Status</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {{template "_footer" .}}

  <!-- External -->
  <!-- DataTables -->
  <script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })

      $("#send").on("click", function(e){
        e.preventDefault();
        var biodata  =  JSON.stringify({
          id_member :  parseInt(10),
          nama      :  "ani budi",
          nik       :  "155150200"
        });

        $.ajax({
          url:"/admin/create-member",
          type : 'POST',
          data : biodata,
          contentType: 'application/json',
          success:function(response){
            if (response == "true") {
              bootoast.toast({
                message: "Biodata berhasil di edit.",
                type: 'success'
              });
              // setTimeout(function () {
    					// 	location.reload();
    					// }, 1500);
            } else {
              //  error message
            }
          },
          error:function(error){
            alert("erorr")
          }
        });
      });
    })
  </script>

  </body>
  </html>
