<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <link href="/static/ex/bootoast.css" rel="stylesheet" type="text/css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form>
      <div class="form-group has-feedback">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <!-- <p class="btn btn-primary btn-sm pull-right" id="login">Simpan</p> -->
          <button type="button" id="login" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="#">I forgot my password</a><br>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script>
  $(document).ready(function(){
    $("#login").on("click", function(e) {
      e.preventDefault();
      var email = $("#email").val();
      var password = $("#password").val();

      if (email != "" && password != "") {
      $.ajax({
        url:"/login-admin",
        type : 'POST',
        data : {'email':email,'password':password},
        success:function(response) {
          if (response == "false") {
            $("#password").val("");
            bootoast.toast({
              message: "Maaf email/password salah! Silahkan coba lagi.",
              type: 'warning'
            });
          } else {
            window.location.href = "/dashboard/"+response;
          }
        },
        error:function(error){
          alert("Gagal");
        }
      });
    } else if (email == "" || password == "") {
      bootoast.toast({
        message: "Harap lengkapi isi form terlebih dahulu.",
        type: 'warning'
      });
    }
    });
  });
</script>

<!-- jQuery 3 -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/static/plugins/iCheck/icheck.min.js"></script>

<!-- External -->
<script src="/static/ex/bootoast.min.js"></script>

<script>
  $(document).ready(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>

</body>
</html>
