<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Reset password</p>

    <form>
      <div class="form-group has-feedback">
        <input type="email" name="email" id="email" class="form-control" placeholder="Your email" required />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="reset" class="btn btn-primary btn-block btn-flat">Reset</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="/"><i class="fa fa-arrow-left"></i> Login</a><br>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script>
  $(document).ready(function(){
    $("#reset").on("click", function(e) {
      e.preventDefault();

      var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      var email = $("#email").val();

      if (email == "")
        bootoast.toast({
          message: "Please fill out this field.",
          type: 'warning'
        });
        Swal.fire({
          type: 'warning',
          title: 'Please fill out your email.',
          showConfirmButton: false,
          customClass: 'swal-wide',
          timer: 1500
        })
      } else if (!regex.test(email)) {
        Swal.fire({
          type: 'warning',
          title: 'Please enter a valid email address.',
          showConfirmButton: false,
          customClass: 'swal-wide',
          timer: 1500
        })
      } else {
        $.ajax({
          url:"/reset_password",
          type : 'POST',
          data : {'email':email},
          success:function(response) {
            if (response == "false") {
              Swal.fire({
                type: 'warning',
                title: 'Email is not registered.',
                showConfirmButton: false,
                customClass: 'swal-wide',
                timer: 1500
              })
            } else {
              Swal.fire({
                type: 'success',
                title: 'New password has been sent to your email.',
                showConfirmButton: false,
                customClass: 'swal-wide',
                timer: 1500
              })
              window.setTimeout(function() {
                window.location.href = '/';
              }, 4000);
            }
          },
          error:function(error){
            alert("Gagal");
          }
        });
      }
    });
  });
</script>

<!-- jQuery 3 -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Sweet Alert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

</body>
</html>
