<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {{template "_header" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Administrasi
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img id="img-profile" class="profile-user-img img-responsive img-circle" src="/static/images/user/{{.Member.Foto}}" alt="User profile picture">
              <h3 class="profile-username text-center">{{.Member.Nama}}</h3>
              <p class="text-muted text-center">{{.Member.Pekerjaan}}</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>ID Member</b> <a class="pull-right">{{.Member.Id_member}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{.Member.Email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Status</b> <a class="pull-right">{{.Member.Status_member}}</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="biodata">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Status Pembayaran</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Status}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tagihan</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" value="Rp {{.Tagihan}}" readonly>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#detail_tagihan">Detail</button>
                    </div>
                    <div class="modal fade" id="detail_tagihan">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><u>Tagihan</u></h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-xs-12">
                                  <!-- /.box-header -->
                                  <div class="box-body">
                                    <table class="table table-bordered table-hover">
                                      <thead>
                                        <tr>
                                          <th>Periode</th>
                                          <th>Tagihan</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {{range .InfoTagihan.InfoTagihan}}
                                      <tr>
                                        <td>{{.Check_in}} - {{.Check_out}}</td>
                                        <td>{{.Tagihan}}</td>
                                      </tr>
                                      {{end}}
                                      <tr>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td><b>Total<b></td>
                                        <td><b>Rp {{.Tagihan}}<b></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!-- /.box-body -->
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default"  data-dismiss="modal">Tutup</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                      <!-- <?php
                        }else{ ?>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" value="<?php echo 'Lunas' ?>" readonly>
                    </div>
                      <?php }} ?> -->
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>

      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h5 class="box-title"><label>History</label></h5>
            </div>
            <div class="nav-tabs-custom">
              <div class="tab-content">
                <div class="active tab-pane">
                  <div class="table-responsive">
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>No</th>
                          <th>Jangka Waktu</th>
                          <th>Tanggal Pembayaran</th>
                          <th>Total</th>
                          <th>Tagihan</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                          {{range $index, $value := .Administrasi.Administrasi}}
                        <tr>
                          <td>{{counter $index 1}}</td>
                          <td>{{.Check_in}} s.d {{.Check_out}}</td>
                          <td>{{.Tgl_pembayaran}}</td>
                          <td>Rp {{.Total}}</td>
                          <td>Rp {{.Tagihan}}</td>
                          <td>{{.Status}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                        <tfoot>
                        <tr>
                          <th>No</th>
                          <th>Jangka Waktu</th>
                          <th>Tanggal Pembayaran</th>
                          <th>Total</th>
                          <th>Tagihan</th>
                          <th>Status</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

  {{template "_footer" .}}

  <!-- External -->
  <!-- DataTables -->
  <script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

  </body>
  </html>
