<!DOCTYPE html>
<html>
<head>
  {{template "_head" .}}

  <!-- External -->
  <link href="/static/ex/bootoast.css" rel="stylesheet" type="text/css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {{template "_header" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profil
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img id="img-profile" class="profile-user-img img-responsive img-circle" src="/static/images/user/{{.Member.Foto}}" alt="User profile picture">
              <h3 class="profile-username text-center">{{.Member.Nama}}</h3>
              <p class="text-muted text-center">{{.Member.Pekerjaan}}</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>ID Member</b> <a class="pull-right">{{.Member.Id_member}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{.Member.Email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Status</b> <a class="pull-right">{{.Member.Status_member}}</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- <?php
          foreach ($info_user as $data){
            $tgl_lahir = new DateTime($data['tgl_lahir']);
            $today = new DateTime('today');
            $tahun = $today->diff($tgl_lahir)->y;
            $bulan = $today->diff($tgl_lahir)->m;
            $hari = $today->diff($tgl_lahir)->d;
        ?> -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#biodata" data-toggle="tab">Biodata</a></li>
              <li><a href="#latar" data-toggle="tab">Latar</a></li>
              <li><a href="#kerabat" data-toggle="tab">Kerabat</a></li>
              <li><a href="#data" data-toggle="tab">Data</a></li>
              <li><a href="#foto" data-toggle="tab">Foto</a></li>
              <li><a href="#password" data-toggle="tab">Ganti Password</a></li>
            </ul>
            <div class="tab-content">
              <p> <span class="label label-info">*Jika data profil tidak sesuai, segera hubungi admin/pengelola kost</span></p>
              <div class="active tab-pane" id="biodata">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nama</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Nama}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">No HP</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.No_hp}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">No Identitas</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Nik}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Tgl Lahir</label>
                    <div class="col-sm-10">
                      <input class="form-control" value="{{.Member.Tgl_lahir}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Alamat</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Alamat_asal}}" readonly>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="latar">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Pekerjaan</label>
                    <div class="col-sm-10">
                      <input type="pekerjaan" class="form-control" value="{{.Member.Pekerjaan}}" readonly>
                    </div>
                  </div>
                  {{if ne .Member.Universitas ""}}
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Universitas</label>
                    <div class="col-sm-10">
                      <input type="universitas" class="form-control" value="{{.Member.Universitas}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Jurusan</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Jurusan}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Angkatan</label>
                    <div class="col-sm-10">
                      <input class="form-control" value="{{.Member.Angkatan}}" readonly>
                    </div>
                  </div>
                  {{else if ne .Member.Perusahaan ""}}
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Perusahaan</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Perusahaan}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Jabatan</label>
                    <div class="col-sm-10">
                      <input class="form-control" value="{{.Member.Jabatan}}" readonly>
                    </div>
                  </div>
                  {{end}}
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="kerabat">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nama Kerabat 1</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Nama_kerabat1}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Hubungan</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Hubungan1}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">No HP</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.No_hp1}}" readonly>
                    </div>
                  </div>
                  {{if ne .Member.Nama_kerabat2 ""}}
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nama Kerabat 2</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Nama_kerabat2}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Hubungan</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.Hubungan2}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">No HP</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.Member.No_hp2}}" readonly>
                    </div>
                  </div>
                  {{end}}
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="data">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Lokasi Kos</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.Lokasi.Alamat}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Tipe Pembayaran</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.Tipe_pembayaran}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">No Kamar</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.No_kamar}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Username Wifi</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.Username_wifi}}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Bergabung Sejak</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.Tgl_gabung}}" readonly>
                    </div>
                  </div>
                  {{if ne .Member.No_stnk ""}}
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">No STNK</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{.Member.No_stnk}}" readonly>
                    </div>
                  </div>
                  {{end}}
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="foto">
                <form class="form-horizontal" action="/ganti-foto" enctype="multipart/form-data" method="POST" id="myform">
                  <div class="form-group">
                    <div class="col-sm-10">
                      <div class="btn btn-default">
                        <!-- <i class="fa fa-paperclip"></i> Attachment -->
                        <input type="file" id="file" name="file">
                      </div>
                      <button type="reset" class="btn btn-default"><i class="fa fa-times"></i></button>
                      <p class="help-block">Max. 1MB</p>
                      <input type="button" class="btn btn-primary btn-sm" id="simpan_foto" value="Upload">
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="password">
                <div>
                  <div id="warning"></div>
                  <div id="success"></div>
                </div>
                <p class="message"></p>
                <form class="form-horizontal">
                  <input type="hidden" name="id_member" id="id_member" value=".Admin.Id_member">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Password Baru</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password_baru" name="password_baru" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Konfirmasi Pass</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="konfirmasi_password" name="konfirmasi_password" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <p class="btn btn-primary btn-sm pull-right" id="simpan_password">Simpan</p>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <script>
  $(document).ready(function(){
    $("#simpan_password").click(function(){
      var id_member = $("#id_member").val();
      var password_baru = $("#password_baru").val();
      var konfirmasi_password = $("#konfirmasi_password").val();
      var jumlah_pass_baru = $('#password_baru').val().length;
      var jumlah_konfirmasi_pass = $('#konfirmasi_password').val().length;
      // var encrypt_pass = md5(password_baru);
      if (password_baru == "" || konfirmasi_password == "") {
        bootoast.toast({
          message: 'Mohon lengkapi isi form terlebih dahulu.',
      	  type: 'warning'
        });
      }
      if(konfirmasi_password != password_baru){
        bootoast.toast({
          message: 'Konfirmasi password tidak sesuai.',
      	  type: 'warning'
        });
      }
      if(jumlah_pass_baru < 6 || jumlah_pass_baru > 18 || jumlah_konfirmasi_pass < 6 || jumlah_konfirmasi_pass > 18){
        bootoast.toast({
          message: 'Password harus berjumlah 6-18 karakter.',
      	  type: 'warning'
        });
      }
      if(konfirmasi_password != "" && konfirmasi_password == password_baru &&
        jumlah_pass_baru >= 6 && jumlah_pass_baru <= 18 && jumlah_konfirmasi_pass >= 6 && jumlah_konfirmasi_pass <= 18){

        $.ajax({
          url:"/update-password",
          type : 'POST',
          data : {'id_member':id_member,'password_baru':password_baru},
          success:function(response){
            $("#password_baru").val("");
            $("#konfirmasi_password").val("");
            if (response == "false") {
              bootoast.toast({
                message: "Gagal! Password baru tidak boleh sama dengan password lama.",
                type: 'warning'
              });
            } else {
              bootoast.toast({
                message: "Berhasil ganti password.",
                type: 'success'
              });
            }
          },
          error:function(error){
            alert("Gagal ganti password");
          }
        });
      }
    });
  });
  </script>

  <script>
    $(document).ready(function(){
      $("#simpan_foto").click(function(){
        var fd = new FormData();
        var files = $('#file')[0].files[0];
        fd.append('file',files);

        $.ajax({
          url: "/update-foto",
          type: 'POST',
          data: fd,
          contentType: false,
          processData: false,
          success: function(response){
            if(response.substr(response.length - 4) == "foto"){
              $("#img").attr("src",response.slice(0,-4));
              $("#img-profile").attr("src",response.slice(0,-4));
              $("#file").val("");
              bootoast.toast({
                message: 'Berhasil ganti foto',
                type: 'success'
              });
            }
            else{
              bootoast.toast({
                message: '<h4>Failed :</h4>'+response,
                type: 'warning'
              });
            }
            // alert("berhasil ganti foto");
          },
          error:function(error){
            alert(error);
          }
        });
      });
    });
  </script>

  {{template "_footer" .}}

  <!-- External -->
  <script src="/static/ex/bootoast.min.js"></script>

  </body>
  </html>
